<nav class="navbar navbar-brown">
    <div class="navbar-brand">
        <a routerLink="/" class=href-img>
            <img alt="Logo" src="assets/images/logo.jpg"/>
        </a>    

    </div>
    <div class="header-title">
        <h1>KJ Garden Shop sp. z o.o.</h1>
    </div>

    <!-- menu for routing link-->
    <ul>
        <li>
            <a routerLink="/products" routerLinkActive="active">Artykuły</a>
        </li>
        <li>
            <a routerLink="/addnew" routerLinkActive="active">Dodaj artykuł</a>
        </li>
        <li>
            <a routerLink="/aboutus" routerLinkActive="active">O nas...</a>
        </li>
    </ul>
</nav>

